extends layout

block content
  div 
    h1= `Name: ${name}`
    h1= `City: ${city}`
    h1=  `Email: ${email}` 
    h1=  `Password: ${password} `
    h3
      a(href="/main") &#11013; back to main page