extends layout

block content
  h1= `Welcome to ${title}`
  h2
    tr 
      td 
          a(href='/main') Main
      td  
          a(href='/catalog') Catalog
      td  
          a(href='/goods') Goods
      td  
          a(href='/cart') Cart
    tr
      td  
          a(href='/', style='color:green') Login
      td 
          a(href='/account', style='color:blue') Account
  h3 Welcome to #{title}
  
    
    
    
  
  