extends layout

block content
  h1= `${name}, Welcome to ${title}`
  h1= `Your location set in ${city}`
  h2
    tr 
      td 
          a(href='/main') Main
      td  
          a(href='/catalog') Catalog
      td  
          a(href='/goods') Goods
      td  
          a(href='/cart') Cart
      td  
          a(href='/', style='color:green') Login
  h3 Welcome to #{title}
  
    
    
    
  
  