extends layout

block content
  div 
  h3 Registration 
    form(action="/registration", method="post") 
      p Name* :
      input(type="text", name="name", required)
      p City* :
      input(type="text", name="city", required)
      p Email* :
      input(type="email", name="email",pattern= "\\@.+\\..+" placeholder="Must be including \"@\"") 
      p Password* :
      input(type="password", name="password", minlength = 8, maxlength = 18, required placeholder="Not less then 8 symbols") 
      p
      button(type='submit') Press 
      span 
      button(type='reset') Reset
    p
  a(href="/") &#11013; back to Log in